@charset "UTF-8";
body {
    background-color: white;
}
.project-h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1px;
    margin-left: -20px;
}
.project-h2 {
    margin-left: -15px;

}
.project0 {
    margin: auto;
}
.project0 > ul > li >  p {
    margin-top: 10px;
    margin-bottom: 10px;;
}
strong {
    color: #4E55D9;
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.2);
}
p {
    margin-left: -5px;
}

.img-responsive {
    margin: auto;
    width: 50vw;    
}
.img-responsive2 {
    margin-left:20vw ;
    width: 30vw;    
}
.dlib {
    margin: auto;
    width: 70vw; 
    border-radius: 20px;
    padding-right: 5px;
    padding-left: 5px ;
}
.project {
    margin: 0 auto;
    width: 80%;
}

@media screen and (min-width: 768px) {
    .project0 {
        width: 720px;    
    }
    .img-responsive {
    width: 450px;    
    display: block;
    margin: 0 auto;    
}
.dlib {
    width: 650px; 
    display: block;
    margin: 0px auto;
}
.img-responsive2 {
    display: block;
    margin: 0 auto;
    width: 250px;    
}
}
