@charset "UTF-8";
body {

}
h1, h2, h3, h4, p,li {
    color: white;
}
.img-responsive {
    width: 25vw;    
    margin-left: 10vw;
    background-color: #fff;
    padding: 5px;
    padding-right: 25px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom:0px ;
}
.coluna {
    float: left;
    width: 33.33%;
    margin-bottom:0px ;
}
.row::after {
    content: "";
    clear: both;
    display: table;
    margin-bottom:0px ;
}
.dlib {
    width: 70vw; 
    background-color: #fff;
    border-radius: 10px;
    margin-top: -5px;
    padding-top: 10px ;
    padding-right: 5px;
    padding-left: 5pG ;
}
.project {
    margin: 0 auto;
    width: 80%;
}
