@charset "UTF-8";
h1, h2, h3, h4, p,li {
    color: white;
}
.project-h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1px;
    margin-left: -20px;
}
.project-h2 {
    margin-left: -20px;
}
p {
    margin-left: -5px;
}
.img-responsive {
    width: 25vw;    
    margin-left: 10vw;
    background-color: #fff;
    padding: 5px;
    padding-right: 25px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom:0px ;
}
.coluna {
    float: left;
    width: 33.33%;
    margin-bottom:0px ;
}
.row::after {
    content: "";
    clear: both;
    display: table;
    margin-bottom:0px ;
}
.dlib {
    width: 70vw; 
    background-color: #fff;
    border-radius: 10px;
    margin-top: -5px;
    padding-top: 10px ;
    padding-right: 5px;
    padding-left: 5pG ;
}
.project {
    margin: 0 auto;
    width: 80%;
}
@media screen and (min-width: 768px) {
    .project0 {
        width: 50vw;    
    }
    .img-responsive {
    width: 15vw;    
    margin-left: 10vw;
    background-color: #fff;
    padding: 5px;
    padding-left: 40px;
    padding-right:70px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom:0px ;
    }
}